.section-cards{
    margin: 96px 0 90px;

    .section-cards__block{

        &_item{
            margin-top: 80px;
            display: flex;
            justify-content: space-between;


        }

    }
   
}